.input-date {
    background-color: #DEE1E6FF;
}

.linha-azul {
    background-color: blue;
}

.linha-vermelha {
    background-color: red;
}

.conteudo-principal-container {
    min-width: 0;
    overflow-x: auto; 
}