<div class="container">
  <h2>Transferência</h2>

  <div class="saldo-container">
    <p>Saldo Atual:</p>
    
    <div class="saldo-valor">
      <span *ngIf="saldoVisivel" class="valor-visivel">
        {{ saldo | currency:'BRL' }}
      </span>

      <span *ngIf="!saldoVisivel" class="valor-oculto">
        R$ ••••••
      </span>

      <i
        (click)="toggleVisibilidadeSaldo()"
        class="eye-icon fas"
        [class.fa-eye]="!saldoVisivel"
        [class.fa-eye-slash]="saldoVisivel"
        title="Clique para {{ saldoVisivel ? 'ocultar' : 'mostrar' }} o saldo">
      </i>
    </div>
  </div>

  <form #transferForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="contaDestino">Número da conta de destino:</label>
      <input 
        type="text" 
        id="contaDestino" 
        name="contaDestino" 
        mask="0*"
        #contaDestinoInput="ngModel"
        [(ngModel)]="transferencia.contaDestino"
        [class.is-invalid]="contaDestinoInput.invalid && (contaDestinoInput.dirty || contaDestinoInput.touched)" 
        required
      >
      <div 
        id="password-warning"
        *ngIf="contaDestinoInput.invalid && (contaDestinoInput.dirty || contaDestinoInput.touched)"
        class="invalid-feedback">
      >
        <small *ngIf="contaDestinoInput.errors?.['required']">É necessário informar uma conta de destino</small>
      </div>
    </div>

    <div class="form-group">
      <label for="saldo">Valor:</label>
      <input 
        type="text" 
        id="saldo" 
        name="saldo"
        #saldoInput="ngModel"
        [(ngModel)]="transferencia.valor"
        mask="separator.2" 
        thousandSeparator="."
        decimalMarker=","
        prefix="R$ "
        [class.is-invalid]="saldoInput.invalid && (saldoInput.dirty || saldoInput.touched)" 
        required 
      >
      <div 
        id="saldo-warning"
        *ngIf="saldoInput.invalid && (saldoInput.dirty || saldoInput.touched)"
        class="invalid-feedback">
      >
        <small *ngIf="saldoInput.errors?.['required']">É necessário informar um valor para transferir</small>
      </div>
    </div>

    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="!transferForm.valid || loading">

      <span *ngIf="loading">
        <i class="fas fa-spinner fa-spin"></i>
        Transferindo...
      </span>

      <span *ngIf="!loading">
        Transferir
      </span>

    </button>
  </form>

</div>
