<div class="home-container">
<app-sidebar [tipoTela]="'gerente'"></app-sidebar>
  <div class="gerente-container">
    <h1>Contas para Aprovação</h1>
    <table>
      <thead>
        <tr>
          <th>Número da Conta</th>
          <th>Nome do Cliente</th>
          <th>CPF</th>
          <th>Salário</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let conta of contasParaAprovar">
          <td>{{ conta.numConta }}</td>
          <td>{{ conta.cliente?.nome }}</td>
          <td>{{ conta.cliente?.cpf }}</td>
          <td>R$ {{ conta.cliente?.salario }}</td>
          <td>
            <button (click)="aprovar(conta)">Aprovar</button>
            <button (click)="recusar(conta)">Recusar</button>
          </td>
        </tr>      
        <tr *ngIf="contasParaAprovar.length === 0">
          <td colspan="5">Nenhuma conta pendente de aprovação.</td>
        </tr>
      </tbody>
    </table>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">New message</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label for="recipient-name" class="col-form-label">Recipient:</label>
                <input type="text" class="form-control" id="recipient-name">
              </div>
              <div class="form-group">
                <label for="message-text" class="col-form-label">Message:</label>
                <textarea class="form-control" id="message-text"></textarea>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Send message</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>