<div class="home-container">
  <app-sidebar [tipoTela]="'gerente'"></app-sidebar>
  <app-loading [isLoading]="loading"></app-loading>

  <div class="gerente-container" *ngIf="!loading">
    <h1>Contas para Aprovação</h1>
    <table class="table table-hover table-striped mb-0">
      <thead class="table-dark">
        <tr>
          <th>Nome do Cliente</th>
          <th>CPF</th>
          <th>Salário</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cliente of clientesParaAprovar">
          <td>{{ cliente.nome }}</td>
          <td>{{ cliente.cpf | mask: '000.000.000-00' }}</td>
          <td>{{ cliente.salario | currency:'BRL':'symbol' }}</td>
          <td>
            <button (click)="aprovar(cliente)">Aprovar</button>
            <button (click)="chamarModal(cliente)">Recusar</button>
          </td>
        </tr>
        <tr *ngIf="clientesParaAprovar.length === 0">
          <td colspan="5">Nenhuma conta pendente de aprovação.</td>
        </tr>
      </tbody>
    </table>

    <modal-rejeitar-cliente #modalDeNegacao (pedidoNegado)="onPedidoNegado($event)"></modal-rejeitar-cliente>

</div>
