<body class="d-flex align-items-center justify-content-center min-vh-100">

    <div class="card shadow-lg border-0 rounded-4 p-4" style="max-width: 400px; width: 100%;">
    
        <div class="text-center mb-4">
            <img width="100px" height="100px" src="logo.png" alt="Logo BanTADS">
        </div>

        <h2 class="h5 fw-semibold text-center mb-4 text-secondary">Acessar sua conta</h2>

        <!-- form -->
        <form #meuForm="ngForm" (ngSubmit)="onSubmit()" id="loginForm">
            <div class="mb-3">
                <label for="email" class="form-label labels">E-mail</label>
                <input 
                    aria-describedby="email-warning"
                    type="email" 
                    class="form-control" 
                    id="email"
                    name="email"
                    #emailInput="ngModel"
                    [(ngModel)]="login.login" 
                    placeholder="nome@exemplo.com" 
                    [class.is-invalid]="emailInput.invalid && (emailInput.dirty || emailInput.touched)"
                    required    
                >
                <div 
                    id="email-warning"
                    *ngIf="emailInput.invalid && (emailInput.dirty || emailInput.touched)"
                    class="invalid-feedback">
                >
                    <small *ngIf="emailInput.errors?.['required']">Digite um e-mail válido</small>
                </div>
            </div>

            <div class="mb-2">
                <label for="password" class="form-label labels">Senha</label>
                <input 
                    aria-describedby="password-warning"
                    type="password" 
                    class="form-control" 
                    id="password"
                    name="password" 
                    placeholder="Digite sua senha" 
                    #passwordInput="ngModel"
                    [(ngModel)]="login.senha" 
                    required   
                    [class.is-invalid]="passwordInput.invalid && (passwordInput.dirty || passwordInput.touched)" 
                >
                <div 
                    id="password-warning"
                    *ngIf="passwordInput.invalid && (passwordInput.dirty || passwordInput.touched)"
                    class="invalid-feedback">
                >
                    <small *ngIf="passwordInput.errors?.['required']">É necessário informar a senha</small>
                    <small *ngIf="passwordInput.errors?.['incorrect']"> Usuário ou senha incorretos </small>
                </div>
            </div>
            <div class="buttons">
                <div class="text-end mb-3">
                    <a href="#" class="text-primary text-decoration-none">Esqueci minha senha</a>
                </div>
                <div class="text-end mb-3">
                    <a href="/autocadastro" class="text-primary text-decoration-none">Realizar cadastro</a>
                </div>
            </div>

            <button type="submit" [disabled]="meuForm.invalid" class="btn btn-primary w-100 fw-semibold py-2">Entrar</button>
        </form>
    </div>
</body>

