<main class="d-flex flex-row w-100" style="max-height: 100vh;">
    <app-sidebar [tipoTela]="'admin'"></app-sidebar>
    <app-loading [isLoading]="loading"></app-loading>

  <div class="d-flex flex-column w-100 p-4 gap-4 conteudo-principal-container bg-light" style="overflow-y: auto;" *ngIf="!loading">
        <h2 class="mb-0">Gerentes Cadastrados</h2>

        <div class="card shadow-sm">
            <div class="card-body p-0">
                <ng-container *ngIf="gerentes && gerentes.length > 0; else noData">
                    <div class="table-responsive">
                        <table class="table table-hover table-striped mb-0">
                            <thead class="table-dark">
                                <tr>
                                    <th>Nome</th>
                                    <th>CPF</th>
                                    <th>Email</th>
                                    <th>Telefone</th>
                                    <th>Ações</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr
                                    *ngFor="let gerente of gerentes"
                                >
                                    <td>{{gerente.nome}}</td>
                                    <td>{{gerente.cpf | mask: '000.000.000-00'}}</td>
                                    <td>{{gerente.email}}</td>
                                    <td>{{gerente.telefone | mask: '(00) 00000-0000||(00) 0000-0000'}}</td>
                                    <td class="d-flex gap-2">
                                        <button class="btn btn-primary" (click)="editarGerente(gerente)">
                                            <span><i class="fa-solid fa-pen-to-square"></i> Editar</span>
                                        </button>
                                        <button class="btn btn-danger" (click)="deletarGerente(gerente)">
                                            <span><i class="fa-solid fa-trash"></i> Deletar</span>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </ng-container>

                <ng-template #noData>
                    <div class="text-center p-5">
                        <p class="text-muted">Nenhum gerente cadastrado</p>
                    </div>
                </ng-template>
            </div>
        </div>
    </div>
</main>
