<div class="home-container">
  <app-sidebar [tipoTela]="'admin'"></app-sidebar>
  <app-loading [isLoading]="loading"></app-loading>
  <div class="d-flex flex-column w-100 p-4 gap-4 conteudo-principal-container bg-light" style="overflow-y: auto;" *ngIf="!loading">
    <h2 class="mb-0" >Dashboard</h2>

    <div class="card shadow-sm">
      <div class="card-body p-0">
        <ng-container *ngIf="AdminDashboard && AdminDashboard.length > 0; else noData">
          <div class="table-responsive">
            <table class="table table-hover table-striped mb-0">
              <thead class="table-dark">
                <tr>
                  <th class="tex-start">Nome</th>
                  <th class="tex-start">Clientes</th>
                  <th class="tex-start">Soma Saldos Positivos</th>
                  <th class="tex-start">Soma Saldos Negativos</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let dashboard of AdminDashboard">
                  <td class="text-start">{{ dashboard.gerente.nome }}</td>
                  <td class="text-start">{{ dashboard.clientes.length }}</td>
                  <td class="text-start">{{ dashboard.saldo_positivo | currency:'BRL':'symbol' }}</td>
                  <td class="text-start">{{ dashboard.saldo_negativo | currency:'BRL':'symbol' }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </ng-container>

        <ng-template #noData>
          <div class="text-center p-5">
            <p class="text-muted">Nenhum gerente encontrado.</p>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>
