<fieldset ngModelGroup="dadosPessoais">
    <h4>Dados Pessoais</h4>
    <div class="container-inputs">
        <div class="form-group col-md-12 container-field">
            <label class="col-sm-2 col-form-label labels" for="name">Nome</label>
            <input 
                type="text" 
                class="form-control" 
                id="name" 
                name="name"
                aria-describedby="name-warning"
                #nameInput="ngModel"
                [(ngModel)]="dadosPessoais.nome"
                required
            />
            <div
                id="name-warning"
                class="text-danger mt-1"
                *ngIf="nameInput.invalid && (nameInput.dirty || nameInput.touched)"
            >
                <small *ngIf="nameInput.errors?.['required']">O campo nome é obrigatório</small>
            </div>
        </div> 
        <div class="form-group col-md-5">
            <label class="col-sm-2 col-form-label labels" for="CPF">CPF</label>
            <input 
                type="text" 
                class="form-control" 
                id="CPF" 
                placeholder="XXX.XXX.XXX-XX" 
                mask="000.000.000-00"
                name="CPF"
                aria-describedby="cpf-warning"
                #CPFInput="ngModel"
                [(ngModel)]="dadosPessoais.cpf"
                cpfValidator
                required
            />
            <div 
                id="cpf-warning"
                *ngIf="CPFInput.invalid && (CPFInput.dirty || CPFInput.touched)"
                class="text-danger mt-1"
            >
                <small *ngIf="CPFInput.errors?.['required']">O campo CPF é obrigatório</small>
                <small *ngIf="CPFInput.errors?.['cpfInvalido']">O CPF digitado é inválido</small>
            </div>
        </div>
        <div class="form-group col-md-6">
            <label class="col-sm-2 col-form-label labels" for="email">Email</label>
            <input 
                type="email" 
                class="form-control" 
                id="email" 
                name="email"
                placeholder="exemplo@email.com"
                ngModel
                aria-describedby="email-warning"
                #emailInput="ngModel"
                [(ngModel)]="dadosPessoais.email"
                email
                required
            />
            <div
                id="email-warning"
                class="text-danger mt-1"
                *ngIf="emailInput.invalid && (emailInput.dirty || emailInput.touched)"
            >
                <small *ngIf="emailInput.errors?.['required']">O campo email é obrigatório</small>
                <small *ngIf="emailInput.errors?.['email']">O email digitado é inválido</small>
            </div>
        </div>
        <div class="form-group col-md-5">
            <label class="col-sm-2 col-form-label labels" for="telefone">Telefone</label>
            <input 
                type="text" 
                class="form-control" 
                id="telefone" 
                name="telefone"
                mask="(00) 0000-0000||(00) 00000-0000"
                ngModel
                aria-describedby="telefone-warning"
                #telefoneInput="ngModel"
                minlength="10"
                [(ngModel)]="dadosPessoais.telefone"
                required
            />
            <div
                id="telefone-warning"
                class="text-danger mt-1"
                *ngIf="telefoneInput.invalid && (telefoneInput.dirty || telefoneInput.touched)"
            >
                <small *ngIf="telefoneInput.errors?.['required']">O campo Telefone é obrigatório</small>
                <small *ngIf="telefoneInput.errors?.['minlength']">O Telefone deve ter no mínimo o DDD mais 8 dígitos</small>
            </div>
        </div>
        <div class="form-group col-md-6">
            <label class="col-sm-2 col-form-label labels" for="salario">Salário</label>
            <input 
                type="text" 
                class="form-control" 
                id="salario" 
                name="salario"
                mask="separator.2" 
                thousandSeparator="."
                decimalMarker=","
                prefix="R$ "
                #salarioInput="ngModel"
                aria-describedby="salario-warning"
                ngModel
                inputGreaterThanZero
                [(ngModel)]="dadosPessoais.salario"
                required
            />
            <div
                id="salario-warning"
                class="text-danger mt-1"
                *ngIf="salarioInput.invalid && (salarioInput.touched)"
            >
                <small *ngIf="salarioInput.errors?.['required']">O campo Salário é obrigatório</small>
                <small *ngIf="salarioInput.errors?.['maiorQueZero']">O campo Salário deve ser maior que zero</small>
            </div>
        </div>
    </div>
</fieldset>