.sidebar {
    width: 280px;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.sidebar-header {
    padding: 1.5rem;
    text-align: center;
    border-bottom: 1px solid #495057;
    cursor: pointer;
}

.sidebar .d-flex.flex-column {
    flex-grow: 1;
    padding: 1rem 0;
}

.menu-item {
    background-color: transparent;
    border: none;
    color: #ffffff;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1rem 1.5rem;
    text-align: left;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.menu-item:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: #ffffff;
    cursor: pointer;
}

.logout-button {
    background-color: transparent;
    border: none;
    color: #ffffff;
    width: 100%;
    padding: 1.25rem 1.5rem;
    text-align: center;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.logout-button:hover {
    background-color: rgba(0, 0, 0, 0.2);
    color: #ffffff;
    cursor: pointer;
}

.sidebar {
  background-color: #4682B4;
  color: #ffffff;
}

.sidebar.sidebar-cliente {
  background-color: #007bff;
  color: #ffffff;
}

.sidebar.sidebar-gerente {
  background-color: #28a745;
  color: #ffffff;
}

.sidebar.sidebar-admin {
  background-color: #8F00FF;
  color: #ffffff;
}
