.sidebar {
    background-color: #212529; 
    color: white;
    width: 280px;
    height: 100vh; 
    display: flex;
    flex-direction: column;
}

.sidebar-header {
    padding: 1.5rem;
    text-align: center;
    border-bottom: 1px solid #495057;
    cursor: pointer;
}

.sidebar .d-flex.flex-column {
    flex-grow: 1; 
    padding: 1rem 0; 
}

.menu-item {
    background-color: transparent;
    border: none;
    color: #adb5bd;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1rem 1.5rem;
    text-align: left;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.menu-item:hover {
    background-color: #343a40; 
    color: white; 
    cursor: pointer;
}

.logout-button {
    background-color: transparent;
    border: none;
    color: #adb5bd;
    width: 100%;
    padding: 1.25rem 1.5rem;
    text-align: center;
    font-weight: bold;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.logout-button:hover {
    background-color: #c92a2a;
    color: white;
    cursor: pointer;
}